.boxShadow {
  box-shadow: rgba(1, 77, 83, 1) 0px 54px 55px, rgba(1, 77, 83, 0.5) 0px -12px 30px,
    rgba(1, 77, 83, 0.5) 0px 4px 6px, rgba(1, 77, 83, 0.17) 0px 12px 13px,
    rgba(1, 77, 83, 0.09) 0px -3px 5px;
}


::-webkit-scrollbar {
  display: none;
}



/* -----------------------downloadButton -------------------------- */



.downloadButton {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 100px;
  height: 50px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

.downloadButton:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.downloadButton:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.downloadButton:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}


.moveCircle {
  display: inline-block;
  animation: movecircle 2s infinite linear;
  /* filter: drop-shadow(30px 10px 4px #44d5dd); */
}

@keyframes movecircle {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
